@import url(<linkrel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap" rel="stylesheet">); 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
}
.body {

    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background-color: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0 red, 0 green, 0 blue, 0.1 alpha);
}
.container .left_side {
    position: relative;
    background-color: darkslateblue;
    padding: 40px;
}
.profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
.profileText .imgBx {
    position: relative;
    width: 150px;
    height: 200px;
}
.profileText .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profileText h3{
    color: black;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.CONTACTO {
    padding: 40px;
}
.CONTACTO ul {
    position: relative;
}
.CONTACTO ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.CONTACTO ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #fff;
}
.CONTACTO ul li .span {
    color: #fff;
    font-weight: 300;
}
.p1 {
    padding: 9px 10px;
    font-size: 11px;
}
.skill-container {
    width: 90%;
    background-color: black;
    margin: 0px 10px;
}
.skill {
    text-align: right;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
}
.p1 {
    padding: 9px 10px;
    font-size: 11px;
}
.web {
    width: 85%;
    background-color: white;
}
.graf {
    width: 90%;
    background-color: white;
}
.conte {
    width: 90%;
    background-color: white;
}
.smm {
    width: 100%;
    background-color: white;
}
.photoshop {
    width: 80%;
    background-color: white;
}
.ilustrator {
    width: 50%;
    background-color: white;
}
.flash {
    width: 60%;
    background-color: white;
}
.xd {
    width: 70%;
    background-color: white;
}
.icon {
    padding: 18px 10px;
}


.container .right_side {
    position: relative;
    background-color: #fff;
    padding: 40px;
}
.name-div {
    text-align: center;
    padding: 20px 20px 20px 20px;
}
.box-2 {
    padding: 0px 50px;
    margin-top: 30px;
}
.p2 {
    font-size: 20px;
    font-weight: 300px;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 18px;
    margin-top: 5px;
}